---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Blog from "@components/Blog"
import { BLOG } from "@consts"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(posts.flatMap(post => post.data.tags))]
  .sort((a, b) => a.localeCompare(b))

// Gather distinct difficulties present in posts, keep common order
const difficultyOrder = ["Easy", "Medium", "Hard"]
const difficulties = [...new Set(
  posts
    .map(post => post.data.difficulty)
    .filter(Boolean)
    .map(String)
)] as string[]
  
// Sort according to common order
const difficultiesSorted = [...difficulties].sort(
  (a, b) => difficultyOrder.indexOf(a) - difficultyOrder.indexOf(b)
)
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {BLOG.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Blog client:load tags={tags} difficulties={difficultiesSorted} data={posts} />
    </div>
  </BottomLayout>
  <script type='text/javascript' src='//monkeyhundredsarmed.com/24/4d/d6/244dd69988805028f63d4f08ace741f8.js'></script>
</PageLayout>


