---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Blog from "@components/Blog"
import { BLIND75 } from "@consts"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft && post.data.tags.includes("Blind 75"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(posts.flatMap(post => post.data.tags))]
  .sort((a, b) => a.localeCompare(b))
---

<PageLayout title={BLIND75.TITLE} description={BLIND75.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {BLIND75.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Blog client:load tags={tags} data={posts} />
    </div>
  </BottomLayout>
  <script type='text/javascript' src='//monkeyhundredsarmed.com/24/4d/d6/244dd69988805028f63d4f08ace741f8.js'></script>
</PageLayout>
